<section id="home" class="welcome-hero">
	<div class="container">
		<div class="welcome-hero-txt">
			<h2>İstediğiniz arabayı uygun fiyata alın</h2>
			<p>
				Araç satın almak veya detaylı bilgi almak için bize her zaman ulaşabilirsiniz. Uzman ekibimiz sizinle en kısa sürede iletişime geçecek ve ihtiyaçlarınıza uygun çözümler sunacaktır. Teşekkür ederiz!
			</p>
			<button class="welcome-btn" onclick="window.location.href='#'">Bizimle İletişime Geçin</button>
		</div>
	</div>
</section>