<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/AdminTemplate/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Hizrian
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="/Home/OurHome">
								<span class="link-collapse">Siteye Git</span>
							</a>
						</li>
						<li>
							<a href="/Register/SignUp/">
								<span class="link-collapse">Yeni Kayıt</span>
							</a>
						</li>
						<li>
							<a href="/Register/SignIn/">
								<span class="link-collapse">Giriş Yap</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Home/OurHome">
					<i class="la la-sitemap"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Statistic/Index">
					<i class="la la-dashboard"></i>
					<p>Dashboard</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/TableNumber/TableNumberListWithSignalR">
					<i class="fas fa-th"></i>
					<p>Anlık Masa Durumu</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Brand/BrandList/">
					<i class="fas fa-car"></i>
					<p>Marka İşlemleri</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Car/CarList/">
					<i class="la la-automobile"></i>
					<p>Araba İşlemleri</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/About/AboutList/">
					<i class="la la-bullhorn"></i>
					<p>Hakkımızda İşlemleri</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Contact/ContactList/">
					<i class="fa-regular fa-comments"></i>
					<p>İletişim İşlemleri</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Contact2/Contact2List">
					<i class="fa-regular fa-note-sticky"></i>
					<p>İletişim Sol Kısım İşlemleri</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Service/ServiceList">
					<i class="fa-solid fa-car-battery"></i>
					<p>Servis İşlemleri</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Notification/NotificationList">
					<i class="la la-bell"></i>
					<p>Bildirim İşlemleri</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/TableNumber/TableNumberList">
					<i class="la la-th"></i>
					<p>Masa İşlemleri</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/QRCode/Index">
					<i class="fas fa-qrcode"></i>
					<p>QR Code İşlemleri</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Mail/SendMail">
					<i class="la la-send"></i>
					<p>Mail Gönderme</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Message/MessagePage/">
					<i class="la la-comments"></i>
					<p>Anlık Mesajlaşma</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Setting/Index">
					<i class="fas fa-cog"></i>
					<p>Ayarlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Register/LogOut">
					<i class="fas fa-sign-out-alt"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="#">
					<i class="fas fa-sign-out-alt"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
		</ul>
	</div>
</div>