

<!-- top-area Start -->
<div class="top-area">
    <div class="header-area">
        <!-- Start Navigation -->
        <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

            <div class="container">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">OtoPiyasa<span></span></a>

                </div><!--/.navbar-header-->
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item dropdown scroll active">
                            <a class="nav-link dropdown-toggle" href="/Home/OurHome/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ana Sayfa
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <div class="scroll"><a href="#service">Servisler</a></div>
                                <div class="scroll"><a href="#new-cars">Yeni Arabalar</a></div>
                                <div class="scroll"><a href="#featured-cars">Öne Çıkan Arabalar</a></div>
                                <div class="scroll"><a href="#brand">Markalar</a></div>
                            </div>
                        </li>
                        <li><a href="/About/AboutUs/">Hakkımızda</a></li>
                        <li ><a href="/Car/OurCar/">Arabalar</a></li>
                        <li ><a href="/Comment/OurComments/">Sizden Gelenler</a></li>
                        <li ><a href="/Contact/ContactUs/">İletişim</a></li>
                        <li ><a  href="/Basket/BasketList/"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span> 0</span></a></li>
                        <li ><a  href=""><i class="fa fa-user" aria-hidden="true"></i> Hesabım</a></li>
                    </ul><!--/.nav -->
                </div><!-- /.navbar-collapse -->
            </div><!--/.container-->
        </nav><!--/nav-->
        <!-- End Navigation -->
    </div><!--/.header-area-->
    <div class="clearfix"></div>

</div><!-- /.top-area-->
<!-- top-area End -->



