
@{
    ViewData["Title"] = "TableNumberListWithSignalR";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>


<div class="content">
    <div class="container-fluid">
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <script type="text/javascript">
                                $(document).ready(() => {
                                    var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7031/SignalRHub").build();
                                    $("#connstatus").text(connection.state);

                                    connection.start().then(() => {
                                        $("#connstatus").text(connection.state);
                                        setInterval(() => {
                                            connection.invoke("TableListWithSignalR");
                                        }, 1000)
                                    }).catch((err) => { console.log(err) });

                                    connection.on("GetAllTableNumber", (value) => {
                                        console.log(value);
                                        let status = "";
                                        let color = "";
                                        let tablehtml = `<div class="row">`;
                                        $.each(value, (index, item) => {
                                            if (item.status == true) {
                                                color = "card card-stats card-success";
                                                status = "Masa Dolu";
                                            }
                                            else {
                                                color = "card card-stats card-danger";
                                                status = "Masa Boş";
                                            }
                                            tablehtml += `<div class="col-md-3">
                                                <div class="${color}">
                                                    <div class="card-body ">
                                                        <div class="row">
                                                            <div class="col-5">
                                                                <div class="icon-big text-center">
                                                                    <i class="fas fa-car-side"></i>
                                                                </div>
                                                            </div>
                                                            <div class="col-7 d-flex align-items-center">
                                                                <div class="numbers">
                                                                    <p class="card-category">${item.table}</p>
                                                                    <h4 class="card-title" >${status}</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>`
                                        });
                                        tablehtml += `</div>`
                                        $("#tablenumberlist").html(tablehtml);
                                    })

                                    
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <h4 class="page-title">Anlık Masa Durumları Sayfası</h4>
        <div id="tablenumberlist"></div>
    </div>
</div>
