<div class="container">
    <div class="welcome-hero-txt">
        <h2>İstediğiniz arabayı uygun fiyata alın</h2>
        <p>
            Araç satın almak veya detaylı bilgi almak için bize her zaman ulaşabilirsiniz. Uzman ekibimiz sizinle en kısa sürede iletişime geçecek ve ihtiyaçlarınıza uygun çözümler sunacaktır. Teşekkür ederiz!
        </p>
        <button class="welcome-btn" onclick="window.location.href='#'">Bizimle İletişime Geçin</button>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="model-search-content">
                <div class="row">
                    <div class="col-md-offset-1 col-md-2 col-sm-12">
                        <div class="single-model-search">
                            <h2>Yıl Seç</h2>
                            <div class="model-select-icon">
                                <select class="form-control">

                                    <option value="default">yıl</option><!-- /.option-->

                                    <option value="2018">2018</option><!-- /.option-->

                                    <option value="2017">2017</option><!-- /.option-->
                                    <option value="2016">2016</option><!-- /.option-->

                                </select><!-- /.select-->
                            </div><!-- /.model-select-icon -->
                        </div>
                        <div class="single-model-search">
                            <h2>gövde stili</h2>
                            <div class="model-select-icon">
                                <select class="form-control">

                                    <option value="default">stil</option><!-- /.option-->

                                    <option value="sedan">sedan</option><!-- /.option-->

                                    <option value="van">van</option><!-- /.option-->
                                    <option value="roadster">roadster</option><!-- /.option-->

                                </select><!-- /.select-->
                            </div><!-- /.model-select-icon -->
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-2 col-sm-12">
                        <div class="single-model-search">
                            <h2>marka seç</h2>
                            <div class="model-select-icon">
                                <select class="form-control">

                                    <option value="default">marka</option><!-- /.option-->

                                    <option value="toyota">toyota</option><!-- /.option-->

                                    <option value="holden">holden</option><!-- /.option-->
                                    <option value="maecedes-benz">maecedes-benz.</option><!-- /.option-->

                                </select><!-- /.select-->
                            </div><!-- /.model-select-icon -->
                        </div>
                        <div class="single-model-search">
                            <h2>araç durumu</h2>
                            <div class="model-select-icon">
                                <select class="form-control">

                                    <option value="default">durum</option><!-- /.option-->

                                    <option value="something">something</option><!-- /.option-->

                                    <option value="something">something</option><!-- /.option-->
                                    <option value="something">something</option><!-- /.option-->

                                </select><!-- /.select-->
                            </div><!-- /.model-select-icon -->
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-2 col-sm-12">
                        <div class="single-model-search">
                            <h2>model seç</h2>
                            <div class="model-select-icon">
                                <select class="form-control">

                                    <option value="default">model</option><!-- /.option-->

                                    <option value="kia-rio">kia-rio</option><!-- /.option-->

                                    <option value="mitsubishi">mitsubishi</option><!-- /.option-->
                                    <option value="ford">ford</option><!-- /.option-->

                                </select><!-- /.select-->
                            </div><!-- /.model-select-icon -->
                        </div>
                        <div class="single-model-search">
                            <h2>fiyat seç</h2>
                            <div class="model-select-icon">
                                <select class="form-control">

                                    <option value="default">fiyat</option><!-- /.option-->

                                    <option value="$0.00">$0.00</option><!-- /.option-->

                                    <option value="$0.00">$0.00</option><!-- /.option-->
                                    <option value="$0.00">$0.00</option><!-- /.option-->

                                </select><!-- /.select-->
                            </div><!-- /.model-select-icon -->
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="single-model-search text-center">
                            <button class="welcome-btn model-search-btn" onclick="window.location.href='#'">
                                Ara
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>