<!--contact start-->
<footer id="contact" class="contact">
	<div class="container">
		<div class="footer-top">
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="single-footer-widget">
						<div class="footer-logo">
							<a href="/Home/OurHome/">Oto Piyasa</a>
						</div>
						<p>
							Yeni bir sürüş deneyimi için hazır mısınız? Biz de öyleyiz! Araç alma sayfamızda, 
							aradığınızdan çok daha fazlasını bulacaksınız. Her tarza, her bütçeye uygun araçları bir araya getirdik. 
							Hayalinizdeki aracı seçmek artık çok daha kolay. Sadece bir tıkla, istediğiniz marka, model, renk ve özelliklere sahip araçları keşfedin.
							Yola çıkma zamanınız geldi!
						</p>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="single-footer-widget">
						<h2>Kullanışlı Linkler</h2>
						<ul>
							<li><a href="/Home/OurHome/">ana sayfa</a></li>
							<li><a href="/About/AboutUs/">hakkımızda</a></li>
							<li><a href="/Automobile/OurAutomobiles/">otomobiller</a></li>
							<li><a href="/Comment/OurComments/">yorumlarınız</a></li>
							<li><a href="/Contact/ContactUs/">iletişim</a></li>
							<li><a href="#">hesabım</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2 col-xs-12">
					<div class="single-footer-widget">
						<h2>En İyi Markalar</h2>
						<div class="row">
							<div class="col-md-7 col-xs-6">
								<ul>
									<li><a href="#">BMW</a></li>
									<li><a href="#">lamborghini</a></li>
									<li><a href="#">camaro</a></li>
									<li><a href="#">audi</a></li>
									<li><a href="#">infiniti</a></li>
									<li><a href="#">nissan</a></li>
								</ul>
							</div>
							<div class="col-md-5 col-xs-6">
								<ul>
									<li><a href="#">ferrari</a></li>
									<li><a href="#">porsche</a></li>
									<li><a href="#">land rover</a></li>
									<li><a href="#">aston martin</a></li>
									<li><a href="#">mersedes</a></li>
									<li><a href="#">opel</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-offset-1 col-md-3 col-sm-6">
					<div class="single-footer-widget">
						<h2>Haber Bülteni</h2>
						<div class="footer-newsletter">
							<p>
								En son haber güncellemelerini ve bilgileri almak için abone olun.
							</p>
						</div>
						<div class="hm-foot-email">
							<div class="foot-email-box">
								<input type="text" class="form-control" placeholder="Mail Ekle">
							</div><!--/.foot-email-box-->
							<div class="foot-email-subscribe">
								<span><i class="fa fa-arrow-right"></i></span>
							</div><!--/.foot-email-icon-->
						</div><!--/.hm-foot-email-->
					</div>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="row">
				<div class="col-sm-6">
					<p>
						&copy; İrem Ertürk tarafından tasarlanmıştır.</a>.
					</p><!--/p-->
				</div>
				<div class="col-sm-6">
					<div class="footer-social">
						<a href="https://www.instagram.com/irem__erturk/"><i class="fa fa-instagram"></i></a>
						<a href="https://www.linkedin.com/in/irem-ert%C3%BCrk-a869b7290/"><i class="fa fa-linkedin"></i></a>
						<a href="https://github.com/iremert"><i class="fa fa-github"></i></a>
						<a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div><!--/.footer-copyright-->
	</div><!--/.container-->

	<div id="scroll-Top">
		<div class="return-to-top">
			<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
		</div>

	</div><!--/.scroll-Top-->

</footer><!--/.contact-->
<!--contact end-->